<div class="box">
    <div class="row">
        <div class="col-md-5 col-sm-11">
            <img src="{{singleProduct.image}}" alt="item">
        </div>
        <div class="col-ml-7 col-sm-12">
            <div class="info">
                <ul class="list-unstyled">
                    <li><strong>Title:</strong>{{singleProduct.title}}</li>
                    <li><strong>Category:</strong>{{singleProduct.category}}</li>
                    <li><strong>Description:</strong>{{singleProduct.description}}</li>
                    <li><strong>Rate:</strong>{{singleProduct.rating.rate}}</li>
                    <li><strong>Count:</strong>{{singleProduct.price}}</li>
                    <li><strong>Price:</strong>{{singleProduct.price}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>